@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model HotelAndTours.ModelsLayer.Models.RoomNumber.RoomNumberCRUDViewModel

<div class="fixed-action-btn">
    <a href="#AddEdit" class="btn-floating btn-large modal-trigger red" id="addButton">
        <i class="large material-icons">add</i>
    </a>
</div>

<div class="page-titles">
    <div class="d-flex align-items-center">
        <h5 class="font-medium m-b-0">Oda Numaraları</h5>
        <div class="custom-breadcrumb ml-auto">
            <a href="/Admin/" class="breadcrumb">Anasayfa</a>
            <a href="/#!" class="breadcrumb">Oda Numaraları</a>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h5 class="card-title">Oda Numaraları</h5>
                    <p></p>
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>

                                    <th>Oda Numarası</th>
                                    <th>Oda İsmi</th>

                                    <th style="width:20px;text-align:center"></th>
                                    <th style="width:20px;text-align:center"></th>

                                </tr>
                            </thead>

                            <tbody>
                            @foreach (var item in Model._RoomNumberViewModel)
                            {
                                  
                                    <tr>
                                    <td>@item.RoomName</td>
                                    <td>@item.Room.Title (@item.Room.Hotel.HotelName)</td>

                                    <td>
                                        <a href="/Admin/RoomNumber?editId=@item.RoomNumberId" class="waves-effect waves-light btn-small green"><i class="material-icons">edit</i></a>
                                    </td>
                                    <td>
                                        <a href="/Admin/RoomNumber/RoomNumberDelete/@item.RoomNumberId" class="waves-effect waves-light btn-small delete" style="background-color:#E06B55"><i class="material-icons">delete</i></a>
                                    </td>
                                </tr>
                            }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="AddEdit" class="modal modal-fixed-footer" data-keyboard="false" data-backdrop="static">
    <form asp-action="RoomNumberAddEdit" method="post" id="Add_Form">
        <div class="modal-content">
            <input hidden id="Id" length="120" asp-for="@Model._RoomNumberAddViewModel.RoomNumberId" name="RoomNumberId">

            <div class="row">
                <div class="input-field col s12">
                    <input id="RoomName" type="text" asp-for="@Model._RoomNumberAddViewModel.RoomName" name="RoomName">
                    <label for="RoomName">Oda Numarası</label>
                    <span asp-validation-for="@Model._RoomNumberAddViewModel.RoomName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="RoomId" class="form-control" asp-for="@Model._RoomNumberAddViewModel.RoomId" name="RoomId">
                        @foreach (var item in ViewBag.DropDownRooms)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <label for="Title">Oda Adı</label>
                    <span asp-validation-for="@Model._RoomNumberAddViewModel.RoomId" class="text-danger"></span>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly">
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn green waves-effect waves-green ">
                Gönder
            </button>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn red ">Kapat</a>
        </div>
    </form>

</div>

@section RoomNumber {
    <script>

    </script>
}